<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{.Title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />

    <!-- prettier-ignore -->
    <style>
      {{.Styles}}
    </style>

    <link type="text/css" rel="stylesheet" href="/css/reserialised.css" />
  </head>
  <body>
    {{ with.PreviousChapters }}
    <a href="#previous-chapters">Previous chapters</a>
    {{ end }} {{.Chapter}}
    <!-- prettier-ignore -->
    {{with .PreviousChapters}}
    <hr />
    <p id="previous-chapters">Previous chapters:</p>
    <ul>
      <!-- prettier-ignore -->
      {{range .}}
      <li>
        <a href="{{.URL}}">{{.Name}}</a>
      </li>
      <!-- prettier-ignore -->
      {{end}}
    </ul>
    <!-- prettier-ignore -->
    {{end}}
  </body>
</html>
